<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>BTC Rate</h1>
        <div id="app">
            <rate-btc-chart></rate-btc-chart>
        </div>
        <script type="text/javascript" src="/dist/app.js"></script>
        <style >
            .small {
                max-width: 600px;
                margin:  150px auto;
            }
        </style>
    </body>
</html>
